.UpdateAttendanceRecords {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    border-radius: 8px;
    color: #333;
}

.UpdateAttendanceRecords form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.UpdateAttendanceRecords select,
.UpdateAttendanceRecords input[type='radio'],
.UpdateAttendanceRecords button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    width: auto;
}

.UpdateAttendanceRecords button {
    background-color: #C69C64;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.UpdateAttendanceRecords button:hover {
    background-color: #4972a0;
}

.error {
    color: red;
    font-size: 0.875em;
    margin-top: 10px;
}

.radioLabel {
    display: flex;
    align-items: center;
    color: black;
    margin-right: 10px;
}

.radioInput[type="radio"] {
    margin-right: 5px;
    accent-color: #007bff;
}

.studentName {
    color: black;
    display: block;
    margin-bottom: 5px;
}

.attendanceEntry {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
