.manage-users {
    padding: 20px;
}

.manage-users .advanced-view-button {
    background-color: #C69C64;
    border-radius: 15px;
    padding: 10px 20px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    margin-bottom: 20px;
}

.manage-users .advanced-view-button:hover {
    border: 2px solid #76a7b1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.manage-users .search-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.manage-users .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: none;
    margin-bottom: 20px;
}

.user-section {
    margin-bottom: 20px;
    font-size: 24px;
}

.user-item {
    cursor: pointer;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.user-item:hover {
    background-color: #C69C64;
    color: white;
}

.delete-button {
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.delete-button:hover, .delete-button:focus {
    color: white;
}

.delete-button:hover svg, .delete-button:focus svg {
    color: white;
}

.error {
    color: red;
}

.section-header {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
}