@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* Button Style Sheet */

.loginButton{
    background-color: #C69C64;
    border-radius: 15px;
    width: auto;
    height: 65px;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    flex-shrink: 0;
    flex-direction: column;

    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.loginButton:hover{
    border: 2px solid #76a7b1;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0,  0.25);
}